rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow anyone to read/write to the leaderboard (scores)
    match /leaderboard/{document=**} {
      allow read, write: if true;
    }
    
    // Allow anyone to read/write to the rounds (words/hints)
    match /rounds/{document=**} {
      allow read, write: if true;
    }
  }
}
